// Colors
$bordersColor: #efefef;
$primary: #1b75b3;

// Sizes
$menuWidth: 300px;

@import "./_menu";
@import "./_content";
@import "./_typography";
@import "./_code";

body {
  font-family: "Open Sans";
}
